@model Practica1.Models.Formulario

@{
    ViewData["Title"] = "Bono Covid-19";
}

<div class="text-center">
    <h1 class="display-4">Registro</h1>
    <form asp-controller="Formulario" asp-action="Registrar">
        <label>Nombre</label>
        <input asp-for="Nombre">
        <br/>

        <label>Apellido</label>
        <input asp-for="Apellido">
        <br/>

        <label>Distrito</label>
        <input asp-for="Distrito">
        <br/>

        <label>Banco</label>
        <select asp-for="Banco">
            <option>Interbank</option>
            <option>BCP</option>
            <option>BBVA</option>
            <option>MiBanco</option>
        </select>
        <br/>
        
        <label>Edad</label>
        <input asp-for="Edad">
        <br/>
        <input type="radio" id="male" asp-for="Genero" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" asp-for="Genero" value="female">
        <label for="female">Female</label><br>

        <input type="submit" value="Registrar"/>
        
    </form>

    <td>@Html.DisplayNameFor(model => model.Respuesta)</td>
    <td>@Html.DisplayTextFor(model => model.Respuesta)</td>
    

</div>
