@model Practica1.Models.Formulario


@{
    ViewData["Title"] = "Bono Covid-19";
}
<div class="row">
    <div class="col-md-4">
            <h1 class="display-4">Registro</h1>
            <form asp-controller="Formulario" asp-action="Registrar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="from-group">
                    <label asp-for="Name" class=" control-label"></label>
                    <input asp-for="Name" class=" control-label"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                
                <div class="from-group">
                    <label asp-for="LastName" class=" control-label"></label>
                    <input asp-for="LastName" class=" control-label"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="from-group">
                    <label asp-for="District" class=" control-label"></label>
                    <input asp-for="District" class=" control-label"/>
                    <span asp-validation-for="District" class="text-danger"></span>
                </div>

                <label>@Html.DisplayNameFor(model => model.Bank)</label>
                <select asp-for="Bank">
                    <option>Interbank</option>
                    <option>BCP</option>
                    <option>BBVA</option>
                    <option>MiBanco</option>
                </select>
                <br/>
                
                <label>@Html.DisplayNameFor(model => model.Age)</label>
                <input asp-for="Age">
                <br/>
                <input type="radio" id="male" asp-for="Gender" value="male">
                <label for="male">Male</label><br>
                <input type="radio" id="female" asp-for="Gender" value="female">
                <label for="female">Female</label><br>

                <input type="submit" value="Registrar"/>
        
            </form>
            <td>@Html.DisplayNameFor(model => model.Respuesta)</td>

    </div>
</div>

